<div id="searchBar" class="input-group">
  <form ng-submit="submit()">
    <div class="row">
      <div class="col-md-11">
        <input id="searchText" ng-model="form.search" class="form-control" placeholder="Search for...">
       </div>
       <div class="col-md-1">
         <span class="input-group-btn">
           <button id="searchButton" class="btn btn-default" type="button">Go!</button>
         </span>
       </div>
    </div>
  </form>
</div><!-- /input-group -->
<br />
<div id="searchResults">
  <tabset justified="true">
    <tab heading="All" ng-click="sourceReset()"></tab>
    <tab heading="News" ng-click="sourceChange('news')"></tab>
    <tab heading="Files" ng-click="sourceChange('files')"></tab>
  </tabset>
  <br />
  <div class="searchResult" data-ng-repeat="result in results">
    <div class="well">
        <strong class="pull-left"><a href="{{ result.location }}" ng-bind="getTitle(result)"></a></strong><p class="pull-right">{{ result.timestamp }}</p>
        <br>
        <span ng-bind-html="boldText(result.data)"></span>
        <br />
        <div class="pull-left">
            <strong>username:</strong> {{ result.username }}
            &nbsp; &nbsp; &nbsp;
            <strong>source:</strong> {{ result.moduleName}}
        </div>
        <div class="pull-right">
            <a ng-href="{{ getRaw(result) }}">get raw</a>
        </div>
        <br />
    </div>
 </div>
</div>
<br />
<br />
<em ng-show="numFound != -1">Found {{ numFound }} results</em>
<br />

<nav ng-show="numFound != -1" style="text-align:center;">
    <ul class="pagination">
        <li ng-show="start != 0">
            <button type="button" class="btn btn-default" aria-label="Previous" ng-click="lastPage()">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li ng-repeat="page in pageRange(start / limit, numFound / limit, limit)">
            <button type="button" class="btn btn-default" ng-click="updateSearch(page * limit)">{{page}}</button>
        </li>
        <li ng-show="extendedPage == true">
            <button type="button" class="btn btn-default" aria-label="Next" ng-click="nextPage()">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</nav>
<br />
<br />

