<div class="well">
    <strong class="pull-left"><a href="{{ result.location }}" ng-bind="getTitle(result)"></a></strong><p class="pull-right">{{ result.timestamp }}</p>
    <br>
    <div class="pull-left">
        {{ result['metaData']['count'] }} images
    </div>
    <br data-ng-init="getImages(result['moduleId'])"/>
    <div ng-repeat="image in images[result['moduleId']]" class="image-line">
      <div class="image-cell">
          <a href="{{ image[0] }}"><img src="{{ image[1] }}"/></a>
      </div>
    </div>
    <div class="image-clear"></div>
</div>


