<div class="well">
    <strong class="pull-left" ng-bind="getTitle(result)"></strong><p class="pull-right">{{ result.timestamp }}</p>
    <br>
    <div class="row">
        <div class="col-md-10">
            <span ng-bind-html="boldText(result.data)"></span>
            <br />
            <br />
            <br />
            <br />
            <div class="pull-left">
                <br />
                <strong ng-show="result['username']">username:</strong> {{ result['username'] }}
                &nbsp; &nbsp; &nbsp;
                <strong>source:</strong> {{ result.moduleName}}
            </div>
            <div class="pull-right">
                <a ng-href="{{ getRaw(result) }}"><button class="btn btn-default">get raw</button></a>
            </div>
        </div>
        <div class="col-md-2">
            <img class="pull-right" src="{{ getThumbnail(result) }}" style="height: 150px; width: 150px;">
        </div>
    </div>
    <br />
    <br />
</div>


